.pd_single .pcs_inner {
    width: 100%;
    padding: 16px;
    display: flex;
    gap: 16px;
}
.pd_single .pcs_inner .pcs_image_area {   
    width: 40%;
}
.pd_single .pcs_inner .pcs_main_detail {
    width: 60%;
}
.small_images {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 8px;
    gap: 8px;
    overflow: hidden;
    border-radius: 0px 0px 12px 12px;
}

.small_image_single {
    width: 100%;   
    aspect-ratio: 3/2;
}
.small_image_single img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .pd_single .bigimage_container {
    width: 100%;
    aspect-ratio: 1/0.5;
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
} */
.pd_single .pcs_inner .pcs_image_area img.bigimage{
    border-radius: 0px;
}
.pd_single  .property_card_single{
    margin-bottom: 16px;
}
.pd_single .more_detail_card_inner{
    padding: 16px;
}
.pd_single  .property_card_single{
    display: inherit;
}
.pd_single  .p_info {   
    column-gap: 60px;   
    row-gap: 16px;
    justify-content: inherit;
}
.pd_single .p_info_single {  
    width: 25%;
    padding: 0px 15px;
}
.pdms_single h4 span.currency {
    font-size: 16px;
    vertical-align: super;
}
.pdms_single h4 span.price {
    font-size: 16px;
    vertical-align: bottom;
    margin-left: 2px;
}
.pmd_section2 .pdms_single h4 {
    font-size: 20px;
    color: #292929;
}
.pmd_section2 .pdms_single h6{
    color: #999;
    font-size: 12px;
    font-weight: 400;
}
.pmd_section2 .pdms_single{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.pmd_section2.pmd_section3 .pdms_single h4 {
    display: flex;
    align-items: baseline;
    font-size: 18px;
}
.pd_single .pmd_top .property_name {
    font-size: 22px;
}
.pd_single .pmd_top .property_location {
    font-size: 18px;    
}
.pmd_section2.pmd_section3 .pdms_single h4 img {
    height: 22px;
    margin-right: 4px;
}
.bigimage_container .image-gallery-content .image-gallery-slide .image-gallery-image, .bigimage_container .image-gallery-thumbnail .image-gallery-thumbnail-image {  
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}
.bigimage_container .image-gallery-thumbnail.active, .bigimage_container .image-gallery-thumbnail:focus {
    outline: none;
    border: 2px solid #161616;
}
.bigimage_container .image-gallery-thumbnail:hover {
    outline: none;
    border: 2px solid #161616;
}
.bigimage_container .image-gallery-thumbnails {   
   padding: 0px;
    padding-top: 6px;
    border-radius: 0px 0px 16px 16px;
}
.bigimage_container .image-gallery-swipe {
    border-radius: 16px 16px 0px 0px;
    overflow: hidden;
}
.bigimage_container .image-gallery-left-nav .image-gallery-svg, .bigimage_container .image-gallery-right-nav .image-gallery-svg {
    height: 40px;
    width: 40px;
    background: #00000057;
    border-radius: 50%;  
}
.bigimage_container .image-gallery-icon {
    filter: none;
}
.bigimage_container .image-gallery-fullscreen-button, .bigimage_container .image-gallery-play-button { 
    padding: 8px;
}
.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
    height: 40px;
    width: 40px;
    background: #00000057;
    padding: 7px;
    border-radius: 50%;
}
.pmd_section4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}


