// forms field css start
// .modal-backdrop {
//   background-color: rgb(0 0 0 / 40%) !important;
// }
.error_new {
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  /* width: fit-content; */
  color: red;
  background: #ffe9e9;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px !important;
  // text-transform: capitalize;
}

.success_new {
  text-align: center;
  background: #00a3001f;
  text-transform: capitalize;
  border-radius: 8px;
  padding: 8px;
  /* width: fit-content; */
  color: var(--success-color);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px !important;
}

.new_form_field {
  label {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin: 0px;
  }

  .nff_inner {
    position: relative;

    .nff_icon {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: flex-end;

      span {
        line-height: 0px;
      }
    }
  }

  ::placeholder {
    font-size: 16px;
    color: grey;
  }

  select {
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin: 0px;
  }

  textarea {
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin: 0px;
  }

  input {
    width: 100%;
    border-radius: 9px;
    padding: 10px 12px;
    border: 1px solid var(--theme-green);
  }

  input:focus {
    box-shadow: none;
  }

  .checkbox {
    position: inherit;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 8px;

    label {
      font-size: 14px;
      cursor: pointer;
    }

    input {
      width: inherit;
    }
  }

  &.with_icon {
    input {
      padding-right: 45px;
    }
  }

  &.phoneinput {
    .special-label {
      display: none;
    }
  }
}

.copy_value {
  position: relative;
  cursor: pointer;

  .copied {
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 13px;
    color: var(--theme-green);
    font-weight: 500;
  }
}

.delete_modal {
  .alert_text {
    font-size: 20px;
    font-weight: 600;
    color: var(--theme-red);
  }

  .sure_content {
    font-size: 18px;
    font-weight: 400;
    color: var(--theme-red);
    margin: 10px 0px 25px 0px;
  }

  .yes_no_btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 22px;
  }
}

.field_error {
  margin-top: 5px;
  font-size: 13px;
  color: red;
  background: #ffe9e9;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: -6px;
  padding: 3px 20px;
}

.form_field {
  .calendar_click {
    input {
      z-index: 1;
      background: transparent;
    }
  }
}

.form_field.label_top {
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 7px;
  padding: 20px 12px 6px;
  width: 100%;
  height: 100%;
  position: relative;

  label {
    background: #fff;
    border: none;
    border-radius: 5px 5px 5px 0;
    box-shadow: 0 -5px 5px 0 #0000001a;
    color: var(--theme-green);
    font-size: 0.9rem;
    font-weight: 400;
    left: 20px;
    margin: 0;
    padding: 3px 12px;
    position: absolute;
    top: -10px;
    text-transform: capitalize;

    &.label {
      position: unset;
      box-shadow: none;
    }
  }

  .form-control:focus {
    box-shadow: none;
  }

  .special-label {
    background: #fff;
    border: none;
    border-radius: 5px 5px 5px 0;
    box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.1019607843);
    color: var(--theme-orange);
    font-size: 0.9rem;
    font-weight: 400;
    left: 20px;
    margin: 0;
    padding: 3px 12px;
    position: absolute;
    top: -10px;
  }

  input {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #666;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    letter-spacing: 0.1rem;
    outline: none;
    padding: 0 10px 0 10px;
    position: relative;
  }

  textarea {
    border: none;
    padding: 10px 0px 0px 10px;

    &:focus {
      outline: none;
    }
  }

  select {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #666;
    font-size: 1rem;
    font-weight: 500;
    height: 40px;
    letter-spacing: 0.1rem;
    outline: none;
    padding: 0 10px 0 10px;
    position: relative;
    background: #eeeeee;
  }

  ::placeholder {
    font-size: 0.8rem;
    font-weight: 400;
    color: #888;
  }

  .radio_group {
    padding-top: 10px;
  }

  .radio_group_single label {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 6px 7px;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(0 0 0);
    transition: 0.3s;
    display: flex;
    gap: 8px;
    position: relative;
    margin-bottom: 0px;
    padding-left: 32px;
    background: #efefef;
    left: 0px;
    top: 0px;
    box-shadow: none;
  }

  // .plus_minus_input_wrapper {
  //   border: none;
  //   border-bottom: 1px solid #ddd;
  //   border-radius: 0;
  //   color: #666;
  //   font-size: 1rem;
  //   font-weight: 500;
  //   height: 40px;
  //   letter-spacing: 0.1rem;
  //   outline: none;
  //   position: relative;
  // }
  .increase_input_parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.theme_radio_new {
  &.tab_type_radio {
    .theme_radio_container {
      input[type="radio"]+label {
        border-radius: 8px 8px 0px 0px !important;
        border-color: var(--theme-grey);
        border-bottom: none;
        background: whitesmoke;
      }

      input[type="radio"]:checked+label {
        border-bottom: 3px solid var(--theme-orange);
        background: whitesmoke;
        color: var(--text-black);
      }

      input[type="radio"]+label::before {
        content: none;
      }

      input[type="radio"]+label {
        position: relative;
      }

      input[type="radio"]:checked+label::before {
        content: "";
        position: absolute;
        bottom: -9px;
        left: 0;
        right: 0;
        background: var(--theme-orange);
        margin: auto;
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        width: 8px;
        height: 8px;
      }
    }
  }

  .theme_radio_container {
    padding: 5px 10px;
    padding-left: 50px;
    border: 1px solid var(--theme-grey);
    background: var(--white-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    input[type="radio"] {
      display: none;
    }

    input[type="radio"]+label {
      cursor: pointer;
      padding: 3px 10px;
      border: 1px solid #498fff;
      color: var(--text-black);
      border-radius: 30px;
      font-size: 15px;
      min-width: 100px;
      text-align: center;
      text-transform: capitalize;
      background-color: var(--white-color);
      background: var(--white-color);

    }

    input[type="radio"]:checked+label {
      background-color: var(--theme-blue);
      background: var(--theme-blue);
      color: var(--white-color);
    }

    .radio_label {
      position: unset;
      box-shadow: none;
    }

    .male {
      input[type="radio"]+label::before {
        content: none;
        /* Unicode for Male face */
      }

      input[type="radio"]:checked+label::before {}
    }

    .female {
      input[type="radio"]+label::before {
        content: none;
        /* Unicode for Female face */
      }

      input[type="radio"]:checked+label::before {}
    }

    .gender_single {
      label {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 15px !important;
        position: relative;

        &::before {
          position: absolute;
          top: 5px;
          right: 8px;
          font-size: 22px !important;
          font-weight: 800;
        }

        .label_inner {
          display: grid;
          gap: 7px;

          h6 {
            font-size: 16px;
          }
        }

        img {
          width: 75px;
          height: 75px;
          object-fit: contain;
        }
      }
    }

    input[type="radio"]+label::before {
      content: "\002B";
      display: inline-block;
      margin-right: 5px;
      font-size: 15px;
    }

    input[type="radio"]:checked+label::before {
      content: "\2713";
      /* Check mark icon */
      display: inline-block;
      margin-right: 5px;
      font-size: 15px;
    }
  }

  &.no_pd_bo {
    .theme_radio_container {
      padding: 0px;
      padding-left: 0px;
      border: none;
    }
  }

  &.active_right {
    .theme_radio_container {
      flex-direction: column;
    }
  }

  &.active_right {
    .theme_radio_container {
      input[type="radio"]+label {
        border-radius: 8px 0px 0px 8px !important;
        border-bottom: 1px solid;
        border-right: 3px solid transparent;
      }

      input[type="radio"]:checked+label {
        border-bottom: 1px solid;
        border-right: 3px solid var(--theme-orange);
        background: whitesmoke;
        color: var(--text-black);
      }

      input[type="radio"]:checked+label::before {
        bottom: inherit;
        right: -10px;
        top: 50%;
        margin: inherit;
        left: inherit;
        transform: translateY(-50%);
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        width: 8px;
        height: 8px;
      }
    }
  }
}

/* // css for custom checkbox start */
.theme_checkbox {
  .theme_checkbox_container {
    background: var(--white-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;

    .select_all_clear_all {
      position: absolute;
      top: -13px;
      background: white;
      right: 0;
      padding: 0px 13px;
      display: flex;
      align-items: center;
      gap: 25px;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]+label {
      cursor: pointer;
      padding: 3px 10px;
      border: 1px solid #498fff;
      color: var(--text-black);
      border-radius: 30px;
      font-size: 15px;
      min-width: 100px;
      text-align: center;
      text-transform: capitalize;
    }

    input[type="checkbox"]:checked+label {
      background-color: var(--theme-blue);
      color: var(--white-color);
    }

    input[type="checkbox"]+label::before {
      content: "\002B";
      display: inline-block;
      margin-right: 5px;
      font-size: 15px;
    }

    input[type="checkbox"]:checked+label::before {
      content: "\2713";
      /* Check mark icon */
      display: inline-block;
      margin-right: 5px;
      font-size: 15px;
    }
  }
}

/* // css for custom checkbox end */

// forms field css end
.w_full {
  width: 100%;
}

.my_accordion {
  .accordion .accordion-button:not(.collapsed) {
    background: var(--theme-green);
    background: var(--theme-green);
    color: white;
    font-size: 18px;
  }

  .accordion-button.collapsed {
    background: var(--theme-green-bg);
    border-bottom: 1px solid var(--theme-green) !important;
    color: var(--theme-green);
  }

  .accordion-item .accordion-button:focus {
    border-color: var(--theme-green);
  }

  .accordion-body {
    border: 2px solid var(--theme-green);
    border-top: none;
    background: var(--page-bg);
    max-height: 400px;
    overflow-y: auto;
  }

  .accordion {
    max-width: 100%;
    margin: 0 0 0 auto !important;
    display: grid;
    row-gap: 10px;
  }

  .total_group .row_gap {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--theme-green);
  }

  .total_group .row_gap:first-child {
    margin-top: 0px;
    padding-top: 0px;
    border-top: none;
  }
}

.two_col_page {
  display: flex;
  align-items: center;

  .col_right {
    width: 50%;

    img {
      width: 100%;
      height: calc(100vh - 68px);
      object-fit: cover;
    }
  }

  .col_left {
    width: 50%;
    padding: 15px 30px;

    .ordiv {
      text-align: center;
      margin-bottom: 16px;
      font-size: 16px;
      text-transform: lowercase;
      position: relative;

      &::after {
        content: "";
        background: #d7d7d7;
        height: 0.5px;
        width: 100%;
        position: absolute;
        top: 51%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
      }

      span {
        background: var(--white-color);
        padding: 0px 12px;
      }
    }

    .col_left_inner {
      text-align: center;
      max-width: 445px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.p_theme_btn {
  background: linear-gradient(90deg, var(--theme-purple), var(--theme-orange));
  border: 1px solid #ffffff;
  padding: 10px 30px;
  display: block;
  width: max-content;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
}

.property_cards_parent {
  grid-gap: 22px;
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(2, 1fr);

  .purpose {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 400;
    padding: 3px;
    transform: rotate(-45deg);
    position: absolute;
    top: 4px;
    left: -52px;
    z-index: 9;
    width: 140px;
    text-align: center;
    letter-spacing: 0.5px;
  }

  .purpose.rent {
    background: var(--theme-purple);
  }

  .purpose.sale {
    background: var(--theme-green);
  }

  .prop_edit {
    position: absolute;
    top: 16px;
    right: 0;
    color: var(--theme-green);
  }

  .category {
    position: absolute;
    top: -14px;
    right: 18px;
    color: var(--white-color);
    padding: 5px 10px;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    z-index: 5;

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      width: 14px;
      height: 17px;
      left: -5px;
      z-index: -1;
      transform: rotate(24deg);
    }

    &.residential {
      background: var(--theme-blue);

      &::after {
        background: var(--theme-blue);
      }
    }

    &.commercial {
      background: var(--theme-orange);

      &::after {
        background: var(--theme-orange);
      }
    }
  }

  .property_single_card {
    padding: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: white;
    border-radius: 22px;
    overflow: hidden;
    position: relative;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 20px;
    //   height: 20px;
    //   background-color: var(--page-bg);
    //   top: 0;
    //   left: 0;
    // }

    .form_field.st-2 .radio_group {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 0px;
    }

    .top {
      display: flex;
      gap: 8px;

      .fav {
        position: absolute;
        right: 0;
      }

      .img_container {
        aspect-ratio: 3/2;
        border-radius: 12px;
        height: 100%;
        overflow: hidden;
        width: 25%;

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }

      .left_side {
        width: 75%;

        h5.demand {
          color: #303030;
          font-weight: 700;
          font-size: 16px;
          margin-bottom: 5px !important;
        }

        .full_address {
          grid-gap: 2px;
          display: grid;
          gap: 2px;

          h6 {
            color: #373737;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;
          }
        }
      }
    }

    .more_row {
      display: flex;
      gap: 8px;
      justify-content: space-between;
      margin-top: 3px;

      .card_badge {
        background: #f5f5f5;
        color: var(--theme-orange);
        padding: 4px 8px;
        font-size: 12px;
        font-weight: 500;
        border-radius: 7px;
        letter-spacing: 0.5px;
        display: flex;
        align-items: center;
        gap: 3px;

        .status_dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          line-height: 0px;
          margin-top: 1px;
        }
      }

      .card_badge.for_rent {
        background: var(--theme-purple);
      }

      .card_badge.for_sale {
        background: var(--theme-orange);
      }
    }

    .middle {
      .show_more_arrow {
        align-items: center;
        background: #e1e1e1;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 2px;
        position: absolute;
        right: 0;
        top: 0;

        span {
          color: #606060;
          font-size: 18px;
        }
      }

      .middle_single {
        grid-gap: 8px;
        background: #f5f5f5;
        border-radius: 8px;
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(3, 1fr);
        margin: 12px 35px 12px 0;
        padding: 8px;

        &.addtional_rooms {
          display: block;

          .ms_child {
            .left {
              h5 {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                span {
                  background: #dfdfdf;
                  border-radius: 30px;
                  font-size: 12px;
                  margin-top: 2px;
                  padding: 4px 12px;
                }
              }
            }
          }
        }

        .ms_child {
          display: flex;
          gap: 8px;

          .icon_container {
            img {
              height: 30px;
              object-fit: contain;
              opacity: 0.9;
              width: 30px;
            }
          }

          .left {
            h6 {
              color: #606060;
              font-weight: 400;
              margin-bottom: 0px;
              font-size: 11px;
              text-transform: uppercase;
            }

            h5 {
              color: #303030;
              font-weight: 500;
              font-size: 13px;
              margin-top: 2px !important;
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    .bottom {
      align-items: center;
      display: flex;
      gap: 8px;
      justify-content: space-between;
      position: relative;

      .view_detail {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--theme-green);
        border-bottom: 1px solid;
        font-size: 14px;
        font-weight: 500;
      }

      .property_owner_detail {
        align-items: center;
        display: flex;
        gap: 5px;

        .img_container {
          border-radius: 50%;
          height: 50px;
          overflow: hidden;
          width: 50px;

          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }

        .pod_right {
          // width: 90%;
          flex-grow: 1;

          h5 {
            color: #303030;
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 0px;
          }

          h6 {
            a.phone {
              color: #888;
              font-size: 14px;
              margin-top: 2px !important;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.top_tag_left {
  position: absolute;
  top: -11px;
  left: 18px;
  color: var(--white-color);
  padding: 3px 8px;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  z-index: 5;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    width: 9px;
    height: 13px;
    left: -4px;
    z-index: -1;
    transform: rotate(24deg);
  }

  &.open {
    background: var(--theme-green);

    &::after {
      background: var(--theme-green);
    }
  }

  &.working {
    background: var(--theme-blue);

    &::after {
      background: var(--theme-blue);
    }
  }

  &.successful {
    background: var(--success-color);

    &::after {
      background: var(--success-color);
    }
  }

  &.dead {
    background: red;

    &::after {
      background: red;
    }
  }
}

.info_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .material-symbols-outlined {
    font-size: 16px;
    cursor: pointer;
  }

  .info_icon_inner {
    position: absolute;
    line-height: normal;
    background: #e6e6e6;
    z-index: 1;
    font-size: 13px;
    padding: 7px;
    border-radius: 10px;
    width: 180px;
    right: 0;
    transition: 0.3s;
    opacity: 0;
    top: 18px;
    color: var(--light-black);
    font-weight: 400;

    b {
      font-weight: 500;
    }
  }

  &:hover {
    .info_icon_inner {
      transition: 0.3s;
      opacity: 1;
    }
  }
}

.my_small_card_parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 22px;
  grid-row-gap: 22px;

  .my_small_card {
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
    background: var(--white-color);
    border-radius: 15px;
    padding: 15px;
    position: relative;
    // display: flex;
    // align-items: center;

    .left {
      align-items: center;
      margin-top: 7px;
      display: flex;
      width: 100%;
      gap: 15px;

      .img_div {
        border-radius: 50%;
        height: 65px;
        width: 65px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .right {
      width: 80%;
    }

    .top_right_content {
      color: var(--theme-grey);
      font-size: 12px;
      font-weight: 400;
      position: absolute;
      right: 15px;
      top: 6px;
    }

    .top_left_content {
      color: var(--theme-grey);
      font-size: 12px;
      font-weight: 400;
      position: absolute;
      left: 15px;
      top: 6px;
    }

    .title {
      font-size: 16px;
      font-weight: 500;
      word-break: break-all;
      text-transform: capitalize;
    }

    .sub_title {
      font-size: 14px;
      color: var(--theme-grey);
      margin-top: 4px !important;
      font-weight: 400;
      word-break: break-all;
    }

    .bottom_strip {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgb(239, 239, 239);
      padding: 4px 15px;
      border-radius: 0px 0px 15px 15px;
      border-bottom: 1px solid #91b8ff;
      margin: 8px -15px -15px -15px;

      .bs_left {
        h5 {
          font-size: 14px;
          font-weight: 600;
          color: #303030;

          span {
            font-size: 11px;
            font-weight: 400;
            color: var(--theme-grey);
          }
        }
      }

      .bs_right {
        h4 {
          font-size: 16px;
          font-weight: 600;
          color: #303030;
        }
      }
    }
  }
}

.pg_utility_bill .my_small_card_parent,
.property_adv_pg .my_small_card_parent .my_small_card .left {
  margin-top: 13px;
}

.property_adv_pg {
  .field_error {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
  }

}

.pg_utility_bill {
  .field_error {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
  }
}

.pg_enquiry {
  .my_small_card_parent {
    grid-template-columns: repeat(4, 1fr);

    .my_small_card {
      display: block;

      &.right_gap {
        padding-right: 52px;

        .top_right_content {
          right: 52px;
        }
      }

      a.enq_edit {
        position: absolute;
        right: 75px;
        bottom: 15px;
        display: flex;
        color: var(--theme-green);

        span {
          font-size: 22px;
        }
      }

      .top_right_content {
        right: 15px;
        top: 4px;
      }

      .wha_call_icon {
        display: flex;
        flex-direction: column;
        border-left: 1px solid #dfdfdf;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding: 0px 10px;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          width: 100%;
          height: 1px;
          left: 0;
          transform: translateY(-50%);
          background: #dfdfdf;
        }

        .wc_single {
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .left {
        margin-top: 6px;
        width: auto;
      }
    }

    .sub_title {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.property_keys_pg {
  .my_small_card_parent {
    grid-template-columns: repeat(1, 1fr);

    .my_small_card {
      padding: 0px;

      .title {
        font-size: 14px;
        color: #303030;
      }

      .sub_title {
        font-size: 11px;
        margin-top: 0px !important;
      }

      .left {
        margin-top: 0px;
        gap: 0px;
        height: 100%;

        .img_div {
          border-radius: 15px 0px 0px 15px;
          width: 50%;
          height: 100%;
          background: #f7f7f7;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 15px 0px 0px 15px;
            aspect-ratio: 1/0.9;
          }
        }
      }

      .right {
        width: 50%;
        border-radius: 0px 15px 15px 0px;
        border-left: 1px solid var(--theme-grey);
        height: 100%;

        .ri_single {
          padding: 9px;
          border-bottom: 1px solid var(--theme-grey);
        }

        .ri_single:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .aai_form {
    .fields_box {
      margin-top: 15px;
      row-gap: 15px;

      &:first-child {
        margin-top: 0px;
      }

      .close_field {
        width: 24px;
        height: 24px;
        font-size: 15px;
      }
    }
  }

  .keys_card {
    display: flex;
    flex-direction: column;
    row-gap: 22px;

    .key_card_single {
      border: 1px solid #dfdfdf;
      border-radius: 10px;
      background: var(--white-color);
      border-top-color: #91b8ff;

      .top {
        background: rgb(226 226 226);
        padding: 8px 15px;
        text-align: center;
        font-size: 14px;
        color: var(--light-black);
        border-radius: 10px 10px 0px 0px;

        .keys_edit {
          color: var(--theme-green);
          font-size: 21px;
          cursor: pointer;
        }
      }

      .key_details {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        .kd_single {
          padding: 12px;
          border-right: 1px solid #e1e1e1;
          border-bottom: 1px solid #e1e1e1;
          display: flex;
          justify-content: space-between;
          align-items: end;
          gap: 3px;

          .left {
            h6 {
              color: var(--light-black);
              font-size: 14px;
              font-weight: 400;
            }
          }

          .right {
            h5 {
              font-size: 19px;
              font-weight: 500;
              color: var(--light-black);
            }
          }

          .remark_info {
            position: absolute;
            top: 5px;
            right: 5px;

            .info_icon {
              line-height: 0px;
            }

            span {
              font-size: 16px;
              color: var(--theme-grey);
              cursor: pointer;
            }

            .key_remark {
              position: absolute;
              line-height: normal;
              background: #e6e6e6;
              z-index: 1;
              font-size: 13px;
              padding: 7px;
              border-radius: 10px;
              width: 150px;
              right: 0;
              transition: 0.3s;
              opacity: 0;
              top: 18px;
            }

            &:hover {
              .key_remark {
                transition: 0.3s;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.delete_box_top {
  width: 20px;
  height: 20px;
  background: #ffdfdf;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  right: 0px;
  border: 1px solid #fa6262;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 14px;
    line-height: 0px;
  }
}

.my_big_card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background: var(--white-color);
  border-radius: 22px;
  padding: 20px;
}

.title_card {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background: var(--white-color);
  border-radius: 22px;
  padding: 12px;

  h2 {
    font-size: 22px;
    color: var(--light-black);
  }

  h6 {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-black);
  }
}

.form_field {
  .form_field_inner {
    position: relative;
  }

  input {
    border: 1px solid #03468738;
    border-radius: 12px;
    color: #000;
    color: var(--black-color);
    font-size: 16px;
    padding: 10px 10px 10px 42px;
    width: 100%;
  }

  select {
    border: 1px solid #03468738;
    border-radius: 12px;
    color: #000;
    color: var(--black-color);
    font-size: 16px;
    padding: 10px 10px 10px 42px;
    width: 100%;
  }

  textarea {
    border: 1px solid #03468738;
    border-radius: 12px;
    color: #000;
    color: var(--black-color);
    font-size: 16px;
    padding: 10px 10px 10px 42px;
    width: 100%;
  }

  .field_icon {
    left: 12px;
    position: absolute;
    top: 10px;
  }

  label {
    display: inline-block;
    margin-bottom: 3px;
  }

  .plus_minus_input_wrapper {
    border: 1px solid rgba(3, 70, 135, 0.2196078431);
    border-radius: 12px;
    color: var(--black-color);
    font-size: 16px;
    width: 100%;
    background: var(--white-color);
    position: relative;

    span.pmi_label {
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
  }

  .plus_minus_input {
    position: relative;
    width: 120px;
    margin-left: auto;

    input {
      background-color: lightgoldenrodyellow;
      text-align: center;
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .pmbutton {
    position: absolute;
    background: var(--theme-green);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    top: 0;
    color: var(--white-color);
  }

  .left-minus-button {
    border-radius: 12px 0px 0px 12px;
    left: 0;
    z-index: 999;
  }

  .right-plus-button {
    border-radius: 0px 12px 12px 0px;
    right: 0;
  }
}

.ff_gap {
  height: 12px;
}

.add_btn {
  background: #f5f5f5;
  border-radius: 12px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  cursor: pointer;

  .add_icon {
    font-size: 60px;
    line-height: 0px;
    margin-top: 6px;
    color: var(--theme-green);
    text-align: center;
    font-weight: 200;
  }

  .ab_text {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 28px;
    font-size: 13px;
    text-align: center;
    color: #606060;
  }
}

.card_upcoming {
  .parent {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);

    .child {
      border-radius: 8px;
      background: #f5f5f5;
      padding: 8px;

      // display: grid;
      // grid-template-columns: 75% 21%;
      // gap: 4%;
      // .right{
      //   img{
      //     width: 55px;
      //   }
      // }
      h5 {
        color: #303030;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 5px !important;
      }

      h6 {
        color: #606060;
        font-weight: 400;
        margin-top: 4px;
        font-size: 12px;
      }

      .line {
        position: relative;
        width: 90%;
        height: 8px;
        background: rgb(203 203 203);
        border-radius: 4px;
        overflow: hidden;

        .line_fill {
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.back_with_title {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 991px) {
  .property_cards_parent {
    grid-template-columns: repeat(1, 1fr);
  }

  .two_col_page {
    .col_right {
      display: none;
    }

    .col_left {
      width: 100%;
      padding: 15px;
      min-height: calc(100vh - 129px);
      display: flex;
      // align-items: center;
      justify-content: center;
    }
  }
}

.form_field_upload {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px;
  position: relative;

  label {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--theme-green);
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 28px;
    }

    p {
      font-size: 10px;
    }
  }

  input {
    display: none;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 22px;
  justify-content: space-between;

  .search_field {
    position: relative;

    input {
      background: var(--white-color);
      border: 1px solid var(--theme-blue);
      border-radius: 5px;
      color: var(--light-black);
      font-size: 15px;
      margin: 0;
      padding: 5px 10px;
      transition: 0.3s;
      width: 100%;
      padding-right: 40px;

      &:focus-visible {
        outline: none;
        transition: 0.3s;
        border-color: var(--theme-blue);
      }
    }

    .field_icon {
      align-items: center;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);

      span {
        color: var(--theme-blue);
        font-size: 22px;
        line-height: 0px;
      }
    }
  }

  .button_filter {
    align-items: center;
    background: var(--white-color);
    border: 1px solid var(--theme-blue);
    display: flex;
    width: fit-content;
    border-radius: 5px;

    &.diff_views {
      .bf_single {
        color: var(--theme-grey);
      }
    }

    .bf_single {
      align-items: center;
      color: var(--light-black);
      cursor: pointer;
      display: flex;
      font-size: 15px;
      justify-content: center;
      padding: 5px 15px;
      svg{
        fill: var(--theme-grey);
        
      }
     

      &.active {
        color: var(--white-color);
        background: var(--theme-blue);
        svg{
          fill: var(--white-color);
        }
      }
    }
  }

  .icon_dropdown {
    select {
      padding: 5px 15px;
      min-width: 150px;
      background: var(--white-color);
      border: 1px solid var(--theme-blue);
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 22px;
    flex-wrap: wrap;
  }
}

.btn_and_msg_area {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 22px;
  flex-direction: wrap;
}

.msg_area {
  font-size: 15px;
  padding: 4px 15px;
  border-radius: 8px;

  &.big_font {
    font-size: 17px;
  }

  &.error_msg {
    background: #ffe9e9;
    color: red;
  }

  &.success_msg {
    background: var(--theme-green-bg);
    color: var(--theme-green2);
  }
}

.table_filter_hide .filters .left {
  display: none !important;
}

.table_filter_hide .filters .right {
  display: none !important;
}

.table_filter_hide .vg22 {
  height: 0px;
}

.table_filter_hide .filters {
  width: fit-content;
}

.detail_modal {
  padding-left: 0px !important;
}

.detail_modal .modal-content {
  padding: 25px 30px;
  position: relative;

  .modal_title {
    font-size: 20px;
    margin-bottom: 16px;
    color: #303030;
    text-transform: capitalize;
  }

  .modal_footer {
    margin-top: 15px;
  }

  .attached_with {
    border-bottom: 1px solid #dddddd;
    padding: 15px 0px;
  }

  .modal_body {
    padding: 0px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dddddd;

    .img_area img {
      width: 100%;
      aspect-ratio: 3 / 2;
      object-fit: cover;
      border-radius: 15px;
    }

    .main_detail {
      column-gap: 14px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 15px 0px;

      .md_single {
        font-size: 16px;
        color: #888888;
        font-weight: 400;

        .value {
          color: #3f3f3f;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }

  .more_detail {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;

    span.more_detail_single {
      background: #dfdfdf;
      border-radius: 8px;
      font-size: 14px;
      padding: 4px 12px;
      text-transform: capitalize;
      width: -moz-fit-content;
      width: fit-content;
      height: -moz-fit-content;
      height: fit-content;
      color: #303030;
    }
  }
}

.search_results {
  padding: 0px;
  margin-top: 0px;
  max-height: 275px;
  overflow: auto;

  .search_result_single {
    margin-top: 12px !important;
    font-size: 0.8rem;
    position: relative;
    width: 100%;
    background: rgb(239, 239, 239);
    padding: 4px 6px 4px 0px;
    margin: 0px;

    label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: left;
      text-align: left;
      gap: 10px;
      cursor: pointer;

      input {
        margin-left: 10px;
      }
    }
  }
}

.modal_close {
  position: absolute;
  top: -24px;
  right: 0;
  font-size: 22px;
  color: white;
  cursor: pointer;
  z-index: 2;
  background: #fa6262;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  // left: 0;
  // margin: auto;
}

.price_input::after {
  content: "\20B9";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  font-size: 18px;
  font-weight: 500;
  color: #666;
}

.price_input.two::after {
  left: 8px;
}

.price_input.two input {
  padding-left: 22px !important;
}

.price_input input {
  padding-left: 13px !important;
}

@media only screen and (max-width: 1199px) {
  .property_keys_pg {
    .keys_card {
      .key_card_single {
        .key_details {
          grid-template-columns: repeat(5, 1fr);
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  section.graphs {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-row-gap: 22px;
  }

  .pg_utility_bill .my_small_card_parent,
  .property_adv_pg .my_small_card_parent {
    grid-template-columns: repeat(2, 1fr);
  }

  .pg_adminproperty .filters {
    flex-direction: column;
    align-items: inherit;
    gap: 12px;
    margin-top: 7px;
  }

  .property_keys_pg {
    .keys_card {
      .key_card_single {
        .key_details {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .my_big_card {
    border-radius: 20px;
    padding: 15px;
  }

  .pg_utility_bill .my_small_card_parent,
  .property_adv_pg .my_small_card_parent {
    grid-template-columns: repeat(1, 1fr);
  }

  .page .propagent_dashboard_inner .all_payments {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .r14 {
    font-size: 12px;
  }

  .dashboard_number_small {
    font-size: 18px;
  }

  .theme_radio_new {
    &.tab_type_radio {
      .theme_radio_container {
        input[type="radio"]+label {
          font-size: 12px;
          padding: 8px;
        }
      }
    }
  }

  .theme_radio_new {
    .theme_radio_container {
      input[type="radio"]+label {
        padding: 3px 12px;
        font-size: 13px;
      }
    }
  }

  .form_field.label_top {
    .increase_input_parent {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }

    .plus_minus_input {
      width: 110px;
    }

    .plus_minus_input_wrapper {
      span.pmi_label {
        font-size: 16px;
        font-weight: 500;
      }

      .pmbutton {
        width: 30px;

        span {
          font-size: 18px;
        }
      }
    }
  }

  .property_keys_pg {
    .keys_card {
      .key_card_single {
        .key_details {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .margin_top {
    .modal-dialog {
      margin-top: 20px;
    }
  }

  .modal_close {
    top: -14px;
    font-size: 16px;
    width: 28px;
    height: 28px;
  }

  .mobile_full_575 {
    margin-left: -15px;
    margin-right: -15px;
    box-shadow: none;
    border-bottom: 1px solid var(--theme-blue);
    border-radius: 0px;
  }

  .property_cards_parent {
    gap: 30px;

    .prop_edit {
      top: 8px;
      right: 10px;

      span {
        font-size: 21px;
      }
    }

    .form_field.st-2 .radio_group_single label {
      height: auto;
      border-radius: 12px;
      font-size: 14px !important;
      padding-left: 26px;

      .radio_icon {
        span {
          font-size: 18px;
        }
      }
    }

    .category {
      color: var(--white-color);
      padding: 3px 6px;
      font-size: 12px;
      letter-spacing: 0.8px;
    }

    .category::after {
      content: "";
      top: 1px;
      width: 8px;
      height: 14px;
      left: -3px;
    }

    .property_single_card {
      padding: 0px;
      border-radius: 12px;

      .form_field.st-2 .radio_group {
        grid-column-gap: 5px;
      }

      .top {
        gap: 0px;
        flex-direction: column;

        .left_side {
          width: 100%;
          padding: 10px;

          h5.demand {
            font-size: 14px;
          }

          .full_address h6 {
            font-size: 12px;
          }
        }

        .img_container {
          width: 100%;
          border-radius: 12px 12px 0px 0px;
        }
      }

      .middle {
        .show_more_arrow {
          border-radius: 4px 0px 0px 4px;
          padding: 2px;
        }

        .middle_single {
          border-radius: 0px 4px 4px 0px;
          gap: 6px;
          margin: 10px 29px 10px 0;
          padding: 8px;

          .ms_child {
            gap: 5px;

            .left {
              h6 {
                font-size: 9px;
              }

              h5 {
                font-size: 11px;
              }
            }

            .icon_container {
              img {
                height: 20px;
                width: 20px;
              }
            }
          }
        }
      }

      .card_upcoming {
        .parent {
          .child {
            border-radius: 4px;

            h5 {
              font-size: 12px;
            }

            h6 {
              font-size: 12px;
            }

            .line {
              height: 5px;
            }
          }
        }
      }
    }
  }

  .row.form_full>* {
    padding-left: 0px;
    padding-right: 0px;
  }

  .form_field {
    &.label_top {
      border-radius: 0px;
      border: none;
      border-bottom: 2px solid var(--theme-blue);
      padding: 15px;
      padding-top: 26px;

      .radio_group {
        padding-top: 0px;
      }

      label {
        font-size: 12px;
        font-weight: 500;
      }

      .radio_group_single label {
        border-radius: 8px !important;
        font-size: 12px !important;
      }
    }
  }

  .delete_modal {
    .alert_text {
      font-size: 18px;
    }

    .sure_content {
      font-size: 16px;
    }
  }

  .detail_modal .modal-content {
    padding: 15px;

    .modal_title {
      font-size: 16px;
      margin-bottom: 8px;
    }

    .modal_body {
      .img_area img {
        border-radius: 8px;
      }

      .main_detail {
        .md_single {
          font-size: 14px;

          .value {
            font-size: 14px;
          }
        }
      }
    }

    .more_detail {
      span.more_detail_single {
        border-radius: 5px;
        font-size: 12px;
        padding: 4px 8px;
      }
    }
  }

  .property_keys_pg {
    .keys_card {
      .key_card_single {
        border-radius: 0px;
        margin-right: -15px;
        margin-left: -15px;
        border-top: none;
        border-bottom: 1px solid var(--theme-blue);

        .top {
          font-size: 12px;
          padding-right: 38px;
          text-align: inherit;

          .keys_edit {
            font-size: 17px;
          }
        }

        .key_details {
          grid-template-columns: repeat(2, 1fr);

          .kd_single {
            padding: 8px 15px;

            .left {
              h6 {
                font-size: 13px;
              }
            }

            .right {
              h5 {
                font-size: 17px;
              }
            }

            .remark_info {
              right: 15px;

              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}