
/* change number pop up */

.pop-up-change-number-div {
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: 1s;
}

.pop-up-change-number-div.open {
    opacity: 1;
    pointer-events: all;
}

.pop-up-change-number-div .direct-div {
    position: relative;
    background: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    max-width: 380px;
    width: 100%;
    text-align: center;
}
.change-number-input .react-tel-input input.form-control {
    border: 1px solid #d7d7d7;
    border-radius: 0px;
    padding: 25px 12px 6px 12px;
    border-radius: 7px;
}

.change-number-input .react-tel-input .special-label {
    position: absolute;
    margin: 0px;
    font-size: 14px;
    color: #909090;
    top: 5px;
    left: 12px;
}

.edit-number {
    position: absolute;
    left: 65%;
    transform: translate(0, -27px);
}

.edit-number span {
    font-size: 1rem;
    color: var(--theme-purple);
    width: 20px;
    height: 20px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
/* change number pop up */








/* sanskar profile css start  */
.profile_card .sn_inner {
    padding: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.profile_card .user_img {
    border-radius: 18px;
    width: 142px;
    height: 142px;
    margin: -100px auto 0px auto;
}

.profile_card .user_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 22px;
    object-position: top;
}

.profile_card .profile-upload-label {
    bottom: -30px;
    right: -6px;
    background: var(--theme-purple);

}

h4.user_name {
    margin: 20px 0px 2px 0px !important;
}


h4.user_name input {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    border-bottom: none;
    padding: 0px;
    border: 1px solid var(--theme-purple);
}

.profile_card .sn_inner h5 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: var(--theme-grey);
}

.profile_card .sn_inner h5 input {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.profile_card .sn_inner input:read-only {
    padding: 5px;
    border: 1px dashed transparent;
    color: var(--theme-grey);
    background: transparent;
}

.profile_card .sn_inner input.profile-change-name:read-only {
    border: 1px solid var(--theme-grey);
}

.profile_card .sn_inner input {
    padding: 5px;
    color: #666;
    background: #eee;
}

.profile_card .sn_inner h5 input {
    max-width: fit-content;
}

.profile_card .sn_inner .edit {
    position: absolute;
    background: var(--theme-purple);
    padding: 8px;
    border-radius: 50%;
    top: 50px;
    right: 35px;
    transform: translateY(45px) translateX(-50px);
}

.profile_card .sn_inner .edit.edit_done {
    background: var(--theme-green);
}

.profile_card .sn_inner .edit span {
    color: var(--white-color);
    font-size: 20px;
}

.visit_dashboard {
    padding: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 22px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background: var(--white-color);
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 100%;
    color: var(--theme-grey);
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .visit_dashboard {
        padding: 10px;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        margin: auto;
        border-radius: 20px;
        font-size: 14px;
    }

    .profile-card-div,
    .more-menus .more-div-big-icon-div,
    .mm_inner {
        border-radius: 20px !important;
    }

    .profile_card .sn_inner .edit {
        padding: 5px;
        top: 8px;
        right: 15px;
    }

    .address-div .address-text h5 {

        font-size: 14px;

    }

    .profile_card .user_img {
        border-radius: 15px;
        width: 125px;
        height: 125px;
    }

    .profile_card .user_img img {
        border-radius: 15px;
        border: 3px solid var(--theme-blue);
    }

    .profile_card .sn_inner {
        padding: 15px;
        width: 100%;
        border-radius: 20px;
        margin-top: -15px;
    }

    h4.user_name {
        margin: 10px 0px 2px 0px !important;
    }

    h4.user_name input {
        font-size: 20px;
    }

    .profile_card .sn_inner h5 input,
    .profile_card .sn_inner h5 {
        font-size: 16px;
    }
}