.property-filter {
    margin: 30px auto;
}

.property-filter nav {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.admin_card_bottom {
    position: absolute !important;
    top: 100% !important;
    height: 30px;
    left: 0;
    width: 100%;
    background: #4CD7D0;
    transform: translateY(-100%);
    border-radius: 0 0 20px 20px;
}

.property-filter p {
    font-size: 0.9em;
    margin-right: 10px;
}

.property-filter button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    border-right: 1px solid #e4e4e4;
    font-size: 0.9em;
}

.property-filter button:last-child {
    border: 0;
}

.property-filter button.active {
    color: var(--primary-color);
}

/* tenant dashboard - start */

.rent-tenant-card {
    position: relative;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 10px 18px 10px;
}

.rent-tenant-card .rent-tenant-card-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rent-tenant-card h6 {
    font-size: 0.8rem;
    font-weight: bold;
    color: #888;
}

.rent-tenant-card h1 {
    color: var(--primary-color);
    font-size: 2rem;
    margin: 0;
}

.rent-tenant-card div:nth-child(2) {
    text-align: right;
}

.rent-tenant-card h2 {
    font-size: 0.7rem;
    color: var(--lightgrey-color);
    font-weight: normal;
    margin: 0;
}

.rent-tenant-card h3 {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 0.6rem;
    color: var(--red-color);
    margin: 0;
}

.rent-tenant-card button {
    height: 25px;
    padding: 0 20px;
    font-size: 0.8rem;
    /* width: 80px; */
    margin: 10px 0 0 0;
}

.rent-tenant-card img {
    width: 80px;
    margin-bottom: 15px;
}

.rent-tenant-card h5 {
    font-size: 0.8rem;
    color: #444;
    font-weight: bold;
}

.rent-tenant-card h4 {
    font-size: 0.7rem;
    color: var(--red-color);
    margin: 0;
}

.tenant-rent-history {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
}

.tenant-dashboard-ticket-card {
    background: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    height: 155px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.ticket-round-right,
.ticket-round-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #efefef;
    width: 40px;
    height: 80px;
}

.ticket-round-left {
    left: -10px;
    border-radius: 0 100px 100px 0;
    overflow: hidden;
    background: #efefef;
}

.ticket-round-right {
    right: -10px;
    border-radius: 100px 0 0 100px;
}

.tenant-dashboard-ticket-card .tenant-dashboard-ticket-card-heading {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 0;
    text-align: center;
}

.tenant-dashboard-ticket-card hr {
    margin: 5px 0 0 0;
}

.tenant-dashboard-ticket-card .tenant-dashboard-ticket-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 25px);
}

.tenant-dashboard-ticket-card .tenant-dashboard-ticket-card-content div:nth-child(2) {
    text-align: right;
}

.tenant-dashboard-ticket-card div h1,
.tenant-dashboard-ticket-card div h3 {
    font-size: 0.7rem;
    color: var(--lightgrey-color);
    font-weight: bold;
    margin: 0;
}

.tenant-dashboard-ticket-card div h2 {
    color: #444;
    font-size: 1.3rem;
    margin: 0;
}

.tenant-dashboard-ticket-card div h4 {
    font-size: 0.9rem;
    color: var(--darkgrey-color);
    margin: 0;
}

.tenant-dashboard-ticket-card div button {
    height: 20px;
    font-size: 0.6rem;
    width: 100px;
    margin: 10px 0 0 0;
}

.dashboard-tenant-past-month-button {
    height: 20px;
    font-size: 0.6rem;
    width: 80px;
    margin: 10px 0 6px 0;
}

.event-id {
    position: absolute;
    top: -10px;
    right: 15%;
    width: 95px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.event-id.residential {
    background: var(--theme-blue);
}

.event-id.commercial {
    background: var(--red-color);
}

.event-id::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -12px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 8px solid #ab3a1d;
    transform: rotate(-220deg);
    z-index: -1;
}

.event-id.residential::before {
    border-bottom: 8px solid #375e0f;
}

.event-id.commercial::before {
    border-bottom: 8px solid #832c2c;
}

.event-id h5 {
    position: relative;
    top: 1px;
    color: #fff;
    font-size: 0.7rem;
    margin: 0;
    text-transform: uppercase;
}

/* tenant dashboard - end */


/* top card css  */



/* admin dashboard page - start */

.admin-property-count-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 20px 45px 20px;
    height: 120px;
    text-decoration: none;
    background: #fff;
  }
  
  @media (max-width: 850px) {
    .admin-property-count-card {
      height: 100px;
    }
  
    .admin-property-count-card-mobile {
      transform: translateY(-13px);
    }
  }
  
  .admin-property-count-card:hover {
    text-decoration: none;
  }
  
  .admin-property-count-card div {
    position: relative;
    top: 5px;
  }
  
  .admin-property-count-card h1 {
    font-size: 2rem;
    color: #EB542E;
    margin: 0 !important;
  }
  
  .admin-property-count-card h2 {
    position: relative;
    top: 5px;
    text-align: center;
    font-size: 0.9rem;
    color: #000;
    margin-bottom: 0 !important;
  }
  
  .admin-property-count-card .rent-sale-div {
    display: flex;
  }
  
  .admin-property-count-card .rent-sale-div h3 {
    font-size: 0.7rem;
    color: #666;
  }
  
  @media (max-width: 500px) {
    .admin-property-count-card .rent-sale-div h3 {
      font-size: 0.6rem;
    }
  }
  
  .admin-property-count-card .rent-sale-div h3.rent-span {
    /* color: #ff5757; */
    border-right: 1px solid #444;
    padding-right: 3px !important;
  }
  
  .admin-property-count-card .rent-sale-div h3.sale-span {
    /* color: green; */
    padding-left: 3px !important;
  }
  
  .admin-property-count-card span {
    font-size: 2.7rem;
    color: #aaa;
  }
  
  
  @media (max-width: 850px) {
    .admin-property-count-card {
      padding: 10px !important;
    }
  
    .admin-property-count-card h1 {
      font-size: 1.2rem;
    }
  
    .admin-property-count-card h2 {
      font-size: 0.8rem;
    }
  
    .admin-property-count-card span {
      font-size: 2rem;
    }
  }
  
  .dashboard-square-card {
    padding: 0 20px !important;
  }
  
  @media (max-width: 850px) {
    .dashboard-square-card {
      padding: 5px 0 !important;
    }
  }
  
  .dashboard-square-card div {
    padding: 20px 5px !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: #F8EA8C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard-square-card h1 {
    font-size: 2.5rem;
    color: #EB542E;
  }
  
  .dashboard-square-card h2 {
    font-size: 0.9rem;
    font-weight: normal;
    margin-bottom: 5px !important;
  }
  .asc_single .material-symbols-outlined {
    font-size: 2rem;
    color: var(--theme-light-green);
}
.asc_single h6{
  font-size: 1rem;
  color: #666;
}
.asc_single h5{
  font-size: 0.7rem;
  color: #aaa;
  font-weight: 600;
}
.asc_single {
  position: relative;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 112px;
}



section.admin_services_cards {
  background-color: rgb(188, 236, 224, 0.5);
  padding: 25px;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
  /* admin dashboard page - end */