.user_detail_pg {
  display: flex;
  align-items: center;
  .msg_area{  
    font-size: 15px;    
    padding: 4px 15px;
    border-radius: 8px;
    &.error_msg{
      background: #ffe9e9;
      color: red;
    }
    &.success_msg{
      background: var(--theme-green-bg);
      color: var(--theme-green2);
    }
  }
  .basic_info {
    box-shadow: 0rem 0.3125rem 0.3125rem 0rem rgba(82, 63, 105, 0.05);
    background: var(--white-color);
    width: 20%;
    position: fixed;
    height: calc(100vh - 68px);
    overflow-y: auto;
    top: 68px;
    left: 0;
    .pic_are {
      width: 100%;
      aspect-ratio: 3/1.5;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 65px;
      &::after {
        content: "";
        background: black;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.4;
      }
      .pic {
        width: 55%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -60px;
        z-index: 1;
        img {
          width: 100%;
          border-radius: 50%;
          height: 100%;
          object-fit: cover;
          border: 4px solid;
        }
      }
      .icon {
        position: absolute;
        bottom: -50px;
        img {
          width: 28px;
        }
        &.left {
          left: 10px;
        }
        &.right {
          right: 10px;
        }
      }
    }
    .p_info {
      padding: 8px;
      text-align: center;
      display: grid;
      gap: 5px;
      justify-content: inherit;
      h5 {
        color: var(--light-black);
        font-size: 18px;
        font-weight: 500;
      }
      h6 {
        color: var(--theme-grey);
        font-size: 16px;
        font-weight: 400;
      }
    }
    .save_btn {
      position: absolute;
      width: 100%;
      border-radius: 0px;
      bottom: 0;
      left: 0;
    }
    .roles {
      padding: 10px;
      padding-top: 0px;
      h5 {
        font-size: 17px;
        margin-bottom: 10px;
        color: var(--light-black);
        margin-top: -8px;
        text-align: center;
      }
      .theme_checkbox {
        .theme_checkbox_container {
          input[type="checkbox"] + label {
            font-size: 14px;
            min-width: fit-content;
          }
        }
      }
    }
  }
  .detail_info {
    min-height: calc(100vh - 68px);
    padding: 22px;
    width: 80%;
    margin-left: auto;
    .card_blue_divider {
      display: flex;
      margin-top: 22px;
      gap: 22px;
      flex-wrap: wrap;
      .blue_single {
        background: #f0f5ff;
        border: none;
        border-radius: 8px;
        padding: 10px;
        width: fit-content;
        h5 {
          color: var(--light-black);
          font-size: 15px;
          font-weight: 500;
        }
        h6 {
          font-size: 15px;
          font-weight: 500;
        }
        &.is_employee {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }
    }
    .property_card_single {
      .btn_msg_area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;       
        margin-top: 12px;
      }
    }
  }
}
/* For Webkit-based browsers (Chrome, Edge, Safari) */
.basic_info::-webkit-scrollbar {
  width: 2px; /* Scrollbar width */
}

.basic_info::-webkit-scrollbar-thumb {
  background: var(--theme-blue); /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for thumb */
}

.basic_info::-webkit-scrollbar-thumb:hover {
  background: var(--theme-blue); /* Thumb color on hover */
}

.basic_info::-webkit-scrollbar-track {
  background: var(--theme-grey); /* Scrollbar track color */
}

// old css

.profile-card {
  background: #fff;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile-card .profile-card-heading {
  font-size: 1.5rem;
  color: var(--theme-orange);
  border-bottom: 1px solid var(--theme-orange);
  width: 100%;
  max-width: 300px;
}

.profile-card .profile-card-image {
  background: var(--theme-orange);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

.profile-card .profile-card-image img {
  width: 100%;
  border-radius: 10px;
}

.profile-card-content {
  width: 100%;
  max-width: 400px;
}

.profile-card-content input {
  background: #eee;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 5px;
}

.profile-card-content input:read-only {
  background: none;
  border: 1px solid transparent;
}

.profile-card-content input.name {
  font-size: 1.8rem;
  position: relative;
  left: -1px;
}

.react-switch-handle {
  transform: translateY(4.5px) translateX(4.5px) !important;
}

.profile-card-content h2 {
  font-size: 0.9rem;
  color: #aaa;
  font-weight: normal;
}

.profile-card-content div {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.profile-card-content div h3 {
  position: relative;
  top: -2px;
  font-size: 1.2rem;
  padding-right: 10px;
  color: var(--theme-green);
}

.profile-card-content div span {
  width: 30px;
  height: 30px;
  background: var(--theme-green);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.profile-card-content h4 {
  font-size: 1.1rem;
  font-weight: normal;
}

.profile-card-content h5 {
  padding: 2px 15px 5px 15px;
  background: rgba(0, 0, 0, 0.1);
  color: var(--theme-orange);
  width: 80px;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  margin: 5px 0;
}

.employee-details h1 {
  font-size: 1rem;
  color: var(--theme-orange);
  border-bottom: 1px solid var(--theme-orange);
  width: 180px;
}

.employee-details-outter-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.employee-details-inner-div {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.employee-details-inner-div small {
  font-size: 0.75rem;
}

.employee-details-static {
  position: relative;
  display: flex;
  align-items: center;
  border-right: 1px solid #ddd;
  border-bottom: none;
  padding: 0 10px 8px 10px;
  height: 100%;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 992px) {
  .employee-details-static {
    border-right: none;
  }
}

.employee-details-static small {
  font-size: 0.8rem;
  color: #aaa;
}

.employee-details-static span {
  position: relative;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px !important;
  height: 30px !important;
  background: var(--theme-green);
  color: #fff;
  border-radius: 50%;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 20px;
}

.employee-details-static select,
.employee-details-static input,
.employee-details-static textarea {
  width: 100%;
  max-width: 500px;
  outline: none;
  background: #eee;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0;
  font-weight: 500;
  /* padding: 0 10px; */
}

.employee-details-static input::placeholder,
.employee-details-static textarea::placeholder {
  color: #bbb;
}

.employee-details-static textarea {
  height: 100px;
  font-size: 1.1rem;
}

.employee-details-static input:read-only,
.employee-details-static textarea:read-only {
  background: none;
  border: 1px solid transparent;
}

.reference-edit {
  position: relative;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: var(--theme-green);
  color: #fff;
  border-radius: 50%;
  font-size: 0.9rem;
  cursor: pointer;
}

.access-management-tabs {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.access-management-tabs .access-management-tabs-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  width: 100%;
  height: 40px;
  cursor: pointer;
}

.access-management-tabs .access-management-tabs-inner span {
  position: relative;
  top: -2px;
  font-size: 0.9rem;
  transition: 0.5s;
}

.access-management-tabs .access-management-tabs-inner.active span {
  font-size: 1.3rem;
}

.access-management-tabs .access-management-tabs-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 3px;
  background: var(--theme-orange);
  transition: 0.5s;
}

.access-management-tabs .access-management-tabs-indicator::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--theme-orange);
}

/* .profile-main-card-css {
    background: rgba(235, 84, 46, 0.4);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

.profile-main-card-css .profile-main-card-css-heading {
    font-size: 1.1rem;
    font-weight: bolder;
    padding-bottom: 10px;
}

.profile-main-card-css .profile-main-card-css-details {
    font-size: 0.8rem;
    color: #666;
}

.personality-outter {
    position: relative;
    margin: 15px 0 10px 0;
    background: rgba(235, 84, 46, 0.4);
    width: 100%;
    height: 10px;
    border-radius: 10px;
}

.personality-outter small {
    font-size: 0.7rem;
    position: absolute;
    top: -15px;
    left: 0;
    right: initial;
}

.personality-outter small:nth-last-child(1) {
    left: initial;
    right: 0;
}

.personality-inner {
    width: 10px;
    height: 10px;
    background: var(--theme-orange);
}

.profile-card-img-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card-img-div img {
    width: 70%;
    border: 5px solid var(--theme-orange);
    border-radius: 50%;
}

.profile-card-details {
    position: relative;
    padding: 10px 0 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-card-details h1 {
    font-size: 1.5rem;
}

.profile-card-details div {
    display: flex;
    align-items: center;
}

.profile-card-details div h2 {
    font-size: 1.1rem;
    font-weight: normal;
    padding-right: 5px;
}

.profile-card-details div span {
    position: relative;
    top: 1px;
    width: 25px;
    height: 25px;
    background: var(--theme-green);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1rem;
}

.profile-card-details h3 {
    color: var(--theme-orange);
    font-size: 0.9rem;
}

.profile-card-details h4 {
    font-size: 5rem;
    color: var(--theme-orange);
    font-family: "Space Grotesk", sans-serif;
}

.profile-card-details small {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.8rem;
    font-weight: normal;
    color: #666;
    text-align: center;
}

.profile-card-user-details {
    background: rgba(235, 84, 46, 0.4);
    padding: 10px 0;
    border-radius: 10px;
}

.profile-card-user-details span {
    font-size: 0.8rem;
    padding: 0 20px;
}

.profile-card-user-details .profile-card-user-details-buttons {
    width: 100%;
    padding: 0 10px;
}

.profile-card-user-details .profile-card-user-details-buttons div {
    width: auto;
    display: inline-block;
    padding: 2px 5px;
}

.profile-card-user-details .profile-card-user-details-buttons div input {
    width: 0;
    height: 0;
    opacity: 0;
}

.profile-card-user-details .profile-card-user-details-buttons div label {
    padding: 2px 15px 5px 15px;
    font-size: 0.8rem;
    color: #fff;
    background: #fff;
    border-radius: 5px;
    border: 1px solid var(--theme-blue);
    color: var(--theme-blue);
    cursor: pointer;
    transition: 0.3s;
}

.profile-card-user-details .profile-card-user-details-buttons div input:checked~label {
    background: var(--theme-blue);
    color: #fff;
} */
