.animated-img-div{
  text-align: center;
  margin-top: 60px;
}
.animated-img{
  height: 200px;
}
.animated-img-num{
      font-size: 32px;
    color: #333;
    margin: 20px 0 10px;
}
.animated-img-text{
  font-size: 18px;
    line-height: 20px;
    color: #666;
}