/* ===========================================
footer Section Start
======================================= */
.contact-short{
    background-color: whitesmoke;
    color: black;
    padding: 3rem 5rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1rem;
    width: 70%;
    box-shadow: 1px 1px 7px 1px;
    margin: auto;
    transform: translateY(50%);
}

.footer-upper-btn{
    background-color: #20b2aa;
    width: 15rem;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
}

.footer-parent{
    background-color:  rgb(8,20,50);
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 1px 0px 0px 0px;
}
.footer-upper{
    width: 70%;
}
.footer-upper div input{
    font-size: 16px;
    margin-left: 10px;
    width: 15rem;
}
#footer-btn{
  background-color: #20b2aa;
  width:10rem;
  cursor: pointer;
  margin: 8px 0px 0px 10px;
  padding: 6px 20px;
  font-size:13px;
  border: none;
  border-radius: 5px;
}
.footer-upper div p{
    font-size: 15px;
    margin: 20px 0px 0px 10px;
    color: #b8bdd1;
}
.footer-upper div h3{
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
}
.footer-upper div{
    margin : 50px 0px 0px 0px;
}

.copyright-area{
    text-align: center;
    padding: 0px 0px 20px 10px;
}

.copyright-area div p{
    font-size: 15px;
    padding: 0rem 2rem 0rem 1rem;
    /* text-align: center; */
}



@media (max-width: 35em) {
  .footer-upper{
    width: 100%;
}
}