.founder-speak-section{
  margin-bottom: 9rem;
}
.founder-speak-heading{
  text-align: center;
  font-weight: 500;
  color: #0a3544;
  font-family: Montserrat,sans-serif;
  margin: 12rem 0rem 8rem 0rem;
}
.founder-speak-heading h3{
  font-size: 25px;
}
.founder-speak-heading span{
  color: #EA5632;
  font-size: 25px;
}
.founder-speaks{
  width: 80%;
  margin: auto;
  /* margin-top: 7rem; */
}
.founders-data{
  display: flex;
  margin-top: 20px;
}
.founder-img-div{
  width: 150px;
}
.founder-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
object-fit: cover;
}
.founders-details{
  margin-left: 3rem;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  display: flex;
}
.founders-details h2{
  font-size: 26px;
  font-weight: 700;
  color: #232F55;
}
.founders-details p{
  font-size: 16px;
  line-height: 1.6;
  color: #454E6D;
}




@media (max-width: 62em) {
  .founder-speaks {
    width: 100%;
}
}