.mobile_bottom_menu{
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  border-top: 0.01rem solid #aaa;
}

.menus-options{
  background-color: #20b2aa;
  text-align: center;
}
.menus-options a{
  color: rgba(255, 255, 255, 0.667);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.menus-options a:hover,
.menus-options a.active{
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.bottom_profile_icon a{
    position: absolute;
    z-index: 999;
    width: 45px;
    height: 45px;
    background: #d04c2b;
    border-radius: 50%;
    bottom: 55%;
    left: calc(50% - 20px);
}
.bi-person-circle{
  color: white;
}
.bottom_profile_icon span{
  margin-top: 8px;
    margin-left: -10px;
    position: absolute;
}