.parent_section {
    background-color: var(--bg-color);
    padding: 70px 0px 50px 0px;
}

.left_section h2 {
    font-size: 30px;
    color: #0a3544;
    font-weight: 600;
    margin: 20px 0px 50px 0px;
}

.card_div_1 {
    background-color: #e1f1ff;
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    position: relative;
}

.card_upper {
    margin: 2px 0px 10px 10px;
}

.card_upper img {
    max-width: 70px;
    max-height: 70px;
}

.card_upper div h4 {
    margin-left: 30px;
    font-weight: 600;
}

.heading_underline {
    margin-left: 30px;
    height: 3px;
    width: 50px;
}

.cards_para {
    margin: 4px 0px 0px 10px;
}

.cards_para h6 {
    margin: 8px;
    z-index: 1;
}

.btn_div {
    padding: 10px;
}

.btn_div i {
    font-weight: 600;
    font-size: 15px;
    transition: .3s;
    position: relative;
    margin-left: 10px;
}



.card_div_2 {
    background-color: #ddf5ff;
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    position: relative;
    margin-top: 25px;
}

.card_div_3 {
    background-color: #fff6e7;
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    position: relative;
}

.card_div_4 {
    background-color: #fef3ef;
    padding: 10px;
    width: 85%;
    border-radius: 10px;
    position: relative;
    margin-top: 25px;
}

.know_more_btn {
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);
    background-color: #fbfffd;
    line-height: 12px;
    transition: .3s;
    border: none;
    font-family: Montserrat, sans-serif;
    color: #0a3544;
}

.card_img {
    bottom: 0;
    right: 0;
    position: absolute;
}

/* for small devices */
@media screen and (max-width: 480px) {
    .left_section h2 {
        margin: 100px 0px 50px 0px;
    }

    .card_img img {
        width: 150px;
    }

    .cards_para h6 {
        /* margin: 2px; */
        text-align: left;
    }

        .parent_section {
            padding: 0px 0px 50px 0px;
        }
}