.review-heading{
    text-align: center;
    margin: 10rem 0rem 7rem 0rem;
}
.demod{
  position: relative;
}
.demode{
  position: absolute;
      top: 270px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 5rem;
}