.review-heading{
  text-align: center;
  font-weight: 500;
  color: #0a3544;
  font-family: Montserrat,sans-serif;
  margin: 5rem 0rem 0rem 0rem;
}
.review-heading h3{
  font-size: 25px;
}
.review-heading span{
  color: #EA5632;
  font-size: 25px;
}
.review-heading p{
  font-size: 15px;
}
.Services-parent .container h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}

.service-card{
    border-radius: 2rem;
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    height: 300px;
    padding: 4px;
    text-align: center;
}

.service-card h1{
    font-size: 2rem;
    text-transform: capitalize;
    margin: 10px 0px 10px 0px;
}

.service-card p{
    font-size: 1.6rem;
    line-height: 22px;
    padding: 20px;
}
.bi-emoji-smile::before{
  padding: 2rem;
  font-size: 5rem;
  color: #20b2aa;
}
.bi-tags::before{
  padding: 2rem;
  font-size: 5rem;
  color: #20b2aa;
}
.bi-cpu::before{
  padding: 2rem;
  font-size: 5rem;
  color: #20b2aa;
}
.bi-brightness-low::before{
  padding: 2rem;
  font-size: 5rem;
  color: #20b2aa;
}
.bi-award::before{
  padding: 2rem;
  font-size: 5rem;
  color: #20b2aa;
}
.bi-wifi::before{
  padding: 2rem;
  font-size: 5rem;
  color: #20b2aa;
}