.pg_enquiry {
  .theme_radio_new .theme_radio_container {
    padding: 0px;
    padding-top: 9px;
    border: none;
  }

  .form_field .with_icon {
    input {
      padding-right: 32px;
    }
    textarea {
      padding-right: 32px;
      padding-left: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
    }
    textarea:focus {
      outline: none;
    }
    .field_icon {
      position: absolute;
      top: 10px;
      left: inherit;
      right: 0;
      color: var(--theme-grey);
    }
  }
}
.enquiry_modal {
  .modal_top_bar {   
    font-size: 16px;
    font-weight: 400;
    color: var(--white-color); 
    text-align: center;
    background: var(--theme-blue);
    padding: 15px;
    margin: -15px -15px 0px -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    .left{
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  .one_word_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    gap: 15px;
    .owi_single {
      position: relative;
      padding-left: 5px;
      padding-bottom: 5px;
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: var(--theme-grey);
        height: 100%;
        width: 1px;
      }
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--theme-grey);
        height: 1px;
        width: 20px;
      }
      h6 {
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0;
        color: var(--theme-grey);
    }
    h5{
      font-size: 14px;
    text-transform: capitalize;
    margin: 0;
    color: var(--black-color);
    font-weight: 500;
    }
    }
  }

  .details ul {
    padding: 0px;
    margin-bottom: 0px;
    display: grid;
    gap: 5px;
    li {
      display: flex;
      gap: 5px;
      color: #303030;    
      .left {
        width: 26%;
        font-size: 16px;
        color: var(--theme-grey);
      }
      .middle {
        width: 4%;
      }
      .right {
        width: 70%;
      }
    }
  }
}
.multi_steps.show_status {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 12px;
  .number {
    background: var(--theme-blue);
    width: 32px;
    height: 32px;
    span {
      font-size: 17px;
    }
  }
  &.dead{
    .number {
      background: var(--theme-red);    
    }
  }
  &.successful{
    .number {
      background: var(--success-color);    
    }
  }
  .wait .number {
    background: var(--theme-blue-bg);
  }
  .progress_bar {
    background: var(--theme-blue-bg);
    top: 16px;
    .fill {
      background: var(--theme-blue);
    }
  }
  &.dead{
    .progress_bar {   
      .fill {
        background: var(--theme-red);
      }
    }
  }
  &.successful{
    .progress_bar {   
      .fill {
        background: var(--success-color);
      }
    }
  }
  .step_single {
    h6 {
      color: var(--theme-blue);
      font-size: 14px;
    }
    h5 {
      font-weight: 400;
      font-size: 12px;
      color: var(--theme-blue);
    }
    &.wait {
      h6 {
        color: var(--theme-blue-bg);
      }
      h5 {
        color: var(--theme-blue-bg);
      }
    }
  }
  &.dead{
    .step_single {
      h6 {
        color: var(--theme-red);      
      }
      h5 {      
        color: var(--theme-red);
      }    
    }
  }
  &.successful{
    .step_single {
      h6 {
        color: var(--success-color);      
      }
      h5 {      
        color: var(--success-color);
      }    
    }
  }
}
