.userlist .single_user {
    background: white;
    padding: 8px;
    display: flex;
    gap: 8px;
    align-items: center;    
}
.single_user .left {
    border-right: 1px solid lightgrey;
    padding-right: 8px;
}
.single_user .user_img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    overflow: hidden;
}
.single_user .right h5 {
    font-size: 16px;
    color: #3f3f3f;
    margin-bottom: 6px !important;
}
.single_user .right .wc img {
    width: 28px;
    margin-right: 6px;
    margin-top: 6px;
}
.userlist{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.single_user .right .wc img:last-child{
    margin-right: 0px;
}
.single_user .right h6 {
    font-size: 14px;
    font-weight: 400;  
    color: #7d7d7d;
    line-height: 18px;
}
.single_user .user_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


