@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* variables */
:root {
/* sanskar color var  */
  --theme-green:#20b2aa;
  --theme-orange: #e95733; 
  --white-color: #fff;
  --black-color: #000;
  --theme-blue: #3F5E98;

/* sanskar color var  */



  --heading-color: #3F5E98;
  --text-color: #444;

  --darkgrey-color: #666;
  --lightgrey-color: #aaa;
  --red-color: #E4021B;
  --peach-color: #FFBF90;
  
  --green-color: 188, 236, 224;
  --yellow-color: #FEEBA0;
  --cream-color: #F4F2EB;
  --bg-color: #F4F2EB;
  --buttonfg-color: #F4F2EB;
  
  --light-green: #8af5fc;
}

/* base styles */
body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  font-size: 0.9rem;
  background: var(--bg-color);
  margin-top: 68px !important;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

/* layout */
.page-title {
  /* font-size: 1em;
  color: var(--heading-color);
  display: inline-block; */
  font-size: 1.4rem;
  font-weight: bolder;
  color: var(--theme-blue);
  padding: 4px 0px;
  z-index: 10;
  display: flex;
  align-items: center;
}

.page-title h1 {
  font-size: 1.6rem;
  font-weight: bolder;
  padding-left: 8px;
}

.auth-form {
  width: 100%;
  margin: 30px auto 0px auto;
  padding: 20px;
  border: 1px solid #cfcfcf;
  border-radius: 15px; 
}

.btn {
  /* background: var(--white-color); */
  background-color: var(--theme-orange);
  /* color: var(--red-color); */
  color: var(--buttonfg-color);
  padding: 8px 18px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bolder;
  border: 2px solid;
  border-color: var(--theme-orange);
}

.btn.cancel {
  background: var(--yellow-color);
  border-color: var(--yellow-color);
  color: var(--black-color);
}
.btn.info {
  background: var(--theme-blue);
  border-color: var(--theme-blue);
  color: var(--white-color);
}

.btn:hover {
  /* color: var(--bg-color); */
  color: var(--theme-orange);
  /* background-color: var(--red-color); */
  background: var(--buttonfg-color);
}
.section_title h3 {
  font-size: 26px;
  color: var(--theme-orange);
  text-transform: capitalize;
  margin-top: -10px !important;
}
.btn.cancel:hover {
  background: var(--cream-color);
  color: var(--theme-blue);
}
.section_title {
  position: relative;
}
.btn.info:hover {
  color: var(--theme-blue);
}
.pointer{
  cursor: pointer;
}
.relative{
  position: relative;
}
.mybutton {
  background: var(--cream-color);
  outline: none;
  border: none;
  color: var(--white-color);
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  /* border-radius: 8px; */
}

.button5 {
  background: linear-gradient(to right, #DC948B, #E4947C);
  /* background: #85cb0b; */
  background: var(--red-color);
  color: var(--cream-color);
  text-decoration: none;
  border-radius: 40px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0;
  transition: 0.5s;
}

.button5:hover {
  text-decoration: none;
  color: var(--cream-color);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}

label span {
  display: block;
  margin-bottom: 6px;
}

input,
textarea {
  margin: 4px 0 25px 0px;
  padding: 5px 6px 5px 30px;
  font-size: 0.9em;
  font-style: normal;
  font-weight: lighter;
  color: var(--darkgrey-color);
  width: 100%;
  box-sizing: border-box;
  border: none;
  /* background: var(--yellow-color); */
  border-radius: 4px;
  color: #000;
  border-color: none;
  border-bottom: 2px solid var(--yellow-color);
  outline: none;
}

textarea {
  min-height: 100px;
}

.select {
  width: 100%;
  z-index: 10;
}

.menu {
  /* .css-t3ipsp-control .css-inmdiq5-menu { */
  background: red;
  z-index: 999;
}


.error {
  color: var(--red-color);
  border: 1px solid var(--red-color);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
  background: black;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}


.large {
  width: 100%;
  border-radius: 0 0 0 0;
}

.small {
  width: 0px;
  display: none;
  border-radius: 0 0 0 0;
}

@media (max-width: 992px) {
  .large {
    width: 0%;
    display: none;
    border-radius: 0 0 0 0;
  }

  .small {
    width: 100%;
    display: block;
    border-radius: 0 0 0 0;
  }
}

/* Form Field Title */
.form-field-title {
  position: relative;
  color: var(--theme-blue);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-field-title span {
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  font-weight: normal;
  color: var(--lightgrey-color);
  ;
}

.form-field-title h1 {
  font-size: 0.9rem;
  font-weight: bolder;
  padding-left: 4px;
  margin-top: -4px;
}

.sign-up-or-div {
  position: relative;
  text-align: center;
}

.sign-up-or-div h1 {
  font-size: 0.9rem;
  color: var(--lightgrey-color);
}

.sign-up-or-div h1::before,
.sign-up-or-div h1::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-200%);
  width: 40%;
  background: var(--lightgrey-color);
  height: 0.5px;
}

.sign-up-or-div h1::before {
  left: 0;
}

.sign-up-or-div h1::after {
  right: 0;
}

.sign-in-with-more-methods-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cream-color);
  height: 40px;
  padding: 0 10px;
  border-radius: 40px;
  border: 1px solid var(--yellow-color);
  cursor: pointer;
}

.sign-in-with-more-methods-div img {
  width: 20px;
}

.sign-in-with-more-methods-div span {
  padding-left: 10px;
  font-size: 0.9rem;
  color: var(--darkgrey-color);
}

/* popup  */
.pop-up-div {
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: 1s;
}

.pop-up-div.open {
  opacity: 1;
  pointer-events: all;
}

.pop-up-div div {
  position: relative;
  background: var(--bg-color);
  padding: 20px 10px;
  border-radius: 10px;
  max-width: 500px;
  /* width: 100%; */
  text-align: center;
}

.pop-up-div div p {
  font-size: 1.1rem;
  color: var(--theme-blue);
}

.pop-up-div div p strong {
  color: var(--theme-blue);
}

.addon-service {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #BCECE0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 180px;
  /* width:120px; */
  /* padding-top: 4%; */
  /* padding-bottom: 6%; */
}

.addon-service div .material-symbols-outlined {
  /* padding: 20px 0 0 0; */
  font-size: 2.5rem;
  color: #4CD7D0;
}

.addon-service-h5 {
  /* margin-bottom: 6%; */
  font-size: 0.7rem;
  color: #222;
  font-weight: 600;
  /* padding-top: 5px; */
}

.dashboardCardBoxoffer {
  /* padding: 10px; */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  height: 9rem;
  width: 100%;
  transition: 1s;
  overflow: hidden;
}

@media (max-width: 850px) {
  .dashboardCardBoxoffer {
    height: auto;
  }
}

.dashboardCardBox.active {
  height: 19.5rem;
}

/* OwlCarousel Item */
.owlcarousel-item {
  position: relative;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 100px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.owlcarousel-item div {
  position: relative;
  top: 3px;
}

.owlcarousel-item div .material-symbols-outlined {
  /* padding: 20px 0 0 0; */
  font-size: 2rem;
  color: #4CD7D0;
}

.owlcarousel-item h1 {
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.owlcarousel-item-h5 {
  /* margin-bottom: 6%; */
  font-size: 0.7rem;
  color: #aaa;
  font-weight: 600;
  /* padding-top: 5px; */
}

/* default card */
.default-card {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 10px 18px 10px;
}

.default-card .default-card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default-card h6 {
  font-size: 0.8rem;
  font-weight: bold;
  color: #888;
}

.default-card h1 {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 0;
}

.default-card div:nth-child(2) {
  text-align: right;
}

.default-card h2 {
  font-size: 1.0rem;
  color: var(--lightgrey-color);
  font-weight: normal;
  margin: 0;
}

.default-card h3 {
  /* position: absolute; */
  /* right: 5px; */
  /* bottom: 5px; */
  font-size: 0.8rem;
  color: var(--lightgrey-color);
  margin: 0;
}

.default-card h4 {
  font-size: 0.7rem;
  color: var(--red-color);
  margin: 0;
}

.default-card h5 {
  font-size: 0.6rem;
  color: #444;
  font-weight: bold;
}

.default-card button {
  height: 25px;
  padding: 0 20px;
  font-size: 0.8rem;
  /* width: 80px; */
  margin: 10px 0 0 0;
}

.default-card img {
  width: 80px;
  margin-bottom: 15px;
}


/* sanskar css start  */
.d_none{
  display: none;
}
.section_title_effect {
  font-size: 50px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00000061;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sect_padding {
  padding: 80px 0px;
}
.theme_btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding-right: 35px;
  border: none;
}
.theme_btn.btn_white {
  background: white;
  color: black;
}
a.theme_btn.btn_white {
  background: white;
  color: black;
}
.theme_btn.btn_fill {
  border: none;
  background: var(--theme-green);
  color: var(--white-color);
}
.theme_btn.btn_border {
  background: none;
  color: var(--black-color);
  border: 2px solid var(--theme-green);
}
.theme_btn .btn_arrow {
  position: absolute;
  top: 14px;
  right: 5px; 
  font-size: 18px;
}
.ba_animation {
  animation: btn_arrow_animation 1s linear infinite;

}
@keyframes btn_arrow_animation{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-5px);
  }
}



/* form fields css start  */
.form_field {
  margin-bottom: 14px;
  position: relative;
}
.form_field input, .form_field select, .form_field textarea {
  border: 1px solid #03468738;
  border-radius: 12px;
  color: #000;
  color: var(--black-color);
  font-size: 16px;
  padding: 10px 10px 10px 42px;
  width: 100%;
}
.field_icon {
  left: 12px;
  position: absolute;
  top: 10px;
}

/* owl navigation css start  */
.owl-nav {
  position: absolute;   
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px !important;
}
button.owl-prev, button.owl-next {
  background: var(--theme-green) !important;
  border-radius: 50% !important;
  position: absolute;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
button.owl-prev span, button.owl-next span{ 
  line-height: 0px !IMPORTANT;
  position: relative;
  top: -5px;
  color: var(--white-color);
}
form.auth-form input, form.auth-form textarea, form.auth-form select {
  border: 1px solid #03468738;
  border-radius: 12px;
  color: #000;
  color: var(--black-color);
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-top: 8px;
}
form.auth-form .css-rd8jxw-control{
  border: 1px solid #03468738;
  border-radius: 12px;
 border-bottom: 1px solid #03468738 !important;
  color: var(--black-color);
  font-size: 16px;
  width: 100%;
  margin-top: 8px;
  background: white !important;
}
form.auth-form .theme_btn {
  margin-top: 15px;
  width: fit-content;
  padding: 10px 22px;
  margin-left: auto;
  margin-right: auto;
}
/* sanskar css end  */


/* sanskar media query css start  */

@media (max-width: 1199px) {
body {
  margin-bottom: 60px !important;
}
.reverse-1199{
  flex-direction: column-reverse;
}
}

@media (max-width: 1199px) {
.reverse-991{
  flex-direction: column-reverse;
}}


@media (max-width: 767px) {
  .theme_btn {
    padding: 6px 12px;
    font-size: 14px;
    padding-right: 30px;
}
.theme_btn .btn_arrow {
  top: 9px;
  font-size: 16px;
}
  .sect_padding {
    padding: 35px 0px;
}
.section_title_effect {
  font-size: 35px;
  line-height: 35px;
}
.section_title h3 {
  font-size: 22px;
  margin-top: 0px !important;
}
body {
  margin-bottom: 60px;
}
.oneline_parent{
display: block !important;
white-space: nowrap;
overflow: auto;
}
.op_child{
  display: inline-block;
  white-space: normal;
  width: 80% !important;
  margin-bottom: 8px;
}
.owl-nav {
  position: unset;
  transform: unset;
  margin: 0px !important;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 14px !important;
}
button.owl-prev, button.owl-next {
  position: unset;
}
}

/* sanskar media query css end  */