.referral_card {
  border-radius: 22px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    background-color: var(--white-color);
  padding: 1rem;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    scale: 1.01;
  }
  .referral_card_inner {
    .referral_card_inner_header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      border-bottom: 0.5px solid #d4d4d4;
      padding-bottom: 16px;
      .header-user-status {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        // border: 1px solid;
        gap: 1rem;
        width: 100%;
        h5 {
          font-size: 1rem; 
          line-height: 1.5rem;
          font-weight: 500;
          color: var(--light-black);
          text-transform: capitalize;
        }
        p {
          font-size: 0.75rem;           
          font-weight: 500;
          border-radius: 99999px;
          padding: 2px 10px;
          &.accepted {
            color: var(--theme-green2);
            background-color: var(--theme-green2-bg);
          }
          &.pending {
            color: var(--theme-pending);
            background-color: var(--theme-pending-bg);
          }
        }
      }
      .header-user-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        // border: 1px solid;
        gap: 2px;
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          span {
            font-size: 0.875rem; /* 14px */
            line-height: 1.25rem; /* 20px */
           color: var(--theme-grey);
          }
        }
      }
    }
    .referral_card_inner_body {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 16px 2px;
      padding-bottom: 0px;
      // border-bottom: 0.5px solid #d4d4d4;
      .body_item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        .body_item_content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 2px;
          //   border: 1px solid;
          h6 {
            font-size: 0.75rem; /* 12px */
            line-height: 1rem; /* 16px */
            font-weight: 500;
            color: var(--theme-grey);
          }
          p {
            font-size: 0.875rem; /* 14px */
            line-height: 1.25rem; /* 20px */
            letter-spacing: 1px;
            color: var(--light-black);
          }
        }
      }
    }
  }

  .lucide-icon {
    width: 1rem;
    height: 1rem;
    color: var(--theme-grey);
  }
}

@media screen and (max-width:767px) {  
    .referral_card {
    border-radius: 0px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--white-color);
    padding: 1rem;
    transition: all 0.3s ease;
    margin: 0px -15px;
    &.accepted{
border-bottom: 1px solid var(--theme-green2);
    }
    &.pending{
      border-bottom: 1px solid var(--theme-pending);
    }
    

    .referral_card_inner {
    }
  }
}
// @media screen and (max-width: 500px) {
//   .referral_card {
//     .referral_card_inner {
//       .referral_card_inner_footer {
//         grid-template-columns: repeat(1, minmax(0, 1fr));
//       }
//     }
//   }
// }
