/* for add pwa in project we have to need apply code in three files app.css for css function code in app.js and a file name serviceworker in public
Need to make a document in firebase setting - > name "PWA" field status equal to active
*/

/* pwa pop up div installtation code start */
.install-popup-div {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 100%;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    height: 0;
    transition: 1.5s ease-in-out;
}

.install-popup-div.open {
    opacity: 1;
    pointer-events: all;
    height: 100vh;
    transform: translateY(0%);
    animation: popupInTransition 2s ease-in-out;
}

@keyframes popupInTransition {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.install-popup-div div {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 12px;
    padding: 30px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.install-popup-div div .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: var(--theme-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

.install-popup-div div img {
    width: 80%;
    margin-bottom: 20px;
}

.install-popup-div div h1 {
    position: relative;
    margin-top: 20px;
    font-size: 0.7rem;
    color: #444;
    text-align: justify;
}

.install-popup-div div button {
    margin-top: 15px;
    background: var(--theme-purple);
    border: none;
    outline: none;
    padding: 5px 30px;
    border-radius: 8px;
    font-size: 0.8rem;
    color: #fff;
}
/* pop up div installation button end */


/* common css start  */

/* color css start  */
.text_light_black{
    color: var(--light-black);
}
.text_grey{
    color: var(--theme-grey);
}
.text_orange{
    color: var(--theme-orange);
}

.text_white{
    color: var(--white-color);
}
.click_text{
    color: var(--theme-purple);
}
.bg_orange{
    background: #ffd6cb;
}
.bg_blue{
    background: var(--theme-blue-bg);
}
.bg_green{
    background: var(--theme-green-bg);
}
.bg_white{
    background: var(--white-color);
}
.click_icon, .click_icon span{
    color: var(--theme-purple);  
    transition: 0.5s;
    font-variation-settings:
        'FILL' 0
}
.click_icon:hover, .click_icon span:hover{
    transition: 0.5s;
    font-variation-settings:
        'FILL' 1     
}
/* color css end  */

/* font css start  */
.m18 {
    font-size: 18px;
    font-weight: 500;    
}
.m20 {
    font-size: 20px;
    font-weight: 500;    
}
.m22{
    font-size: 22px;
    font-weight: 500;
    
}
.r16{
    font-size: 16px;
    font-weight: 400;    
}
.r14{
    font-size: 14px;
    font-weight: 400;
    
}
.r18{
    font-size: 18px;
    font-weight: 400;
    
}
.m16{
    font-size: 16px;
    font-weight: 500;
    
}
.dm16{
    font-size: 16px;
    font-weight: 500;
}
.dr16{
    font-size: 16px;
    font-weight: 400;
}
.dr20{
    font-size: 20px;
    font-weight: 400;
}
.dm20{
    font-size: 20px;
    font-weight: 500;
}
/* font css start  */

.card_shadow{    
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
}
.card_border_radius{
    border-radius: 22px;
}
.dashboard_number{
    font-size: 30px;
    font-weight: 500;
    color: var(--light-black);
}
.dashboard_number_small{
    font-size: 22px;
    font-weight: 500;
    color: var(--light-black);
}
.page a{
    text-decoration: none;
}
.page ul li{
    list-style-type: none;
}
.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6,
.page p {
    margin: 0px;
}
.page_spacing {
    padding: 22px;
}
.navbarhide,
.page_footer_hide {
    display: none;
}
.pg_bg{
    background: var(--page-bg);
}
.page_inner_logo img {
    width: 135px;
    height: auto;
}
.otp_input div {
    justify-content: center;
}
/* verticall_gap css start  */
.dvg22{
    height: 22px;
}
.vg10{
    height: 10px;
}
.vg22{
    height: 22px;
}
.mt10{
    margin-top: 10px;
}
/* modal css start  */
.modal-backdrop.show {
    opacity: 0.3 !important;
}
.my_modal .modal-body{
    padding: 0px;
}
.my_modal .modal-content {
    border-radius: 22px;
    padding: 22px;
    background: var(--white-color);
}
.row_gap{
    row-gap: 30px;
}

/* custom radio button css start  */
.form_field.st-2 .radio_group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  .form_field.st-2 .radio_group_single label {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 35px;
    border-radius: 20px;
    padding: 6px 7px;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(0 0 0);
    transition: 0.3s;
    display: flex;
    gap: 8px;
    position: relative;
    margin-bottom: 0px;
    padding-left: 38px;
    background: #efefef;
  }
  
  .form_field.st-2 .radio_group_single .radiochecked label {
    background: var(--theme-green);
    color: white;
    border-color: var(--theme-green);
  }
  
  .form_field.st-2 .radio_group_single label .radio_icon {
    position: absolute;
    line-height: 0px;
    left: 6px;
    top: 50%;
    transform: translateY(-41%);
  }
  
  .form_field.st-2 .radio_group_single label .radio_icon .check {
    display: none;
  }
  
  .form_field.st-2 .radio_group_single .radiochecked label .radio_icon .check {
    display: block;
  }
  
  .form_field.st-2 .radio_group_single .radiochecked label .radio_icon .add {
    display: none;
  }
  
  .form_field.st-2 .radio_group_single .custom_radio_button {
    position: relative;
  }

/* common css end*/

@media only screen and (max-width: 1199px) {
    .vg22_1199{
        height: 22px;
    }
}
@media only screen and (max-width: 991px) {
    .propagent_dashboard_inner .all_payments, .self_property_detail {      
        grid-template-columns: repeat(3,1fr) !important;       
    }
    .vg22_991{
        height: 22px;
    }
}
@media only screen and (max-width: 767px) {
    .page_spacing {
        padding: 15px;
    }
    .m22 {
        font-size: 18px;     
    }
    .r18 {
        font-size: 16px;    
    }  
}


