.brf_icon {
    display: grid;
    gap: 10px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
}
.brfi_single {
    width: 55px;
    height: 55px;
    padding: 7px;
    background: #8cf6fc;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.brfi_single:hover {  
    background: var(--black-color);
    transition: 0.3s;

}
.brfi_single img{
    width: 100%;
}

@media only screen and (max-width: 1199px) {
.brf_icon {
    bottom: 80px; 
}
}
@media only screen and (max-width: 767px) {
    .brfi_single {
        width: 40px;
        height: 40px;
    }
}