.logo_carousel {
    background: var(--theme-orange);
    padding: 50px 0px;
}
.lc_slide_single img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.lc_slide_single {   
    text-align: center;
}
.lc_slide_single h5 {
    font-size: 20px;
    margin-top: 5px !important;
    color: white;
    font-weight: 400;   
}
.lc_slide_single h6 {
    font-size: 14px;
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 5px !important;
}

.logo_carousel .react-multiple-carousel__arrow--left {
    left: calc(0% + 1px);
}
.logo_carousel .react-multiple-carousel__arrow--right {
    right: calc(0% + 1px);
}
.logo_carousel .section_title_effect {
    font-size: 38px;
    -webkit-text-stroke-color: #ffffff;
    line-height: 40px;
}
.logo_carousel  .section_title h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
}
@media only screen and (max-width: 767px) {
    .logo_carousel {
        padding: 20px 0px;
    }
    
.lc_slide_single img {
    width: auto;
    height: 28px;
    object-fit: cover;
}
.lc_slide_single h5 {
    font-size: 14px;    
}
.logo_carousel .section_title h3 {
    font-size: 16px;
    text-align: center;
    max-width: 320px;
    width: 100%;
    margin: 8px auto 10px auto !important;
}
.logo_carousel .section_title_effect {
    font-size: 30px;
    line-height: 20px;
    text-align: center;
}
.lc_slide_single img {
    width: 65px;
    height: 65px;  
}
.logo_carousel .react-multiple-carousel__arrow {
    min-width: 30px;
    min-height: 30px;
    z-index: 6;
}
}
