.qa_menu{
  
    .qam_single{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 6px;
        background: var(--white-color);
        padding: 8px;
        cursor: pointer;       
        margin-top: 25px;
        width: fit-content;
        color: var(--light-black);
        min-width: 125px;
        h5{
            font-size: 16px;
            font-weight: 400;
            margin-top: 5px;
            letter-spacing: 0.5px;
            color: var(--theme-green);
        }

        .icon{
            img{
                width: auto;
                height: 50px;
                margin-top: -32px;
         
            }
             
                 
                 
            
        }
    }
}
